alembic==1.2.1
beautifulsoup4==4.8.1
blinker==1.4
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
Click==7.0
cssselect2==0.2.2
defusedxml==0.6.0
Flask==1.1.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
Flask-WeasyPrint==0.6
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
Mako==1.1.0
MarkupSafe==1.1.1
multidict==4.5.2
mysql-connector-python==8.0.18
pdf2image==1.14.0
pdfrw==0.4
Pillow==6.2.0
protobuf==3.10.0
pycparser==2.19
pycrypto==2.6.1
PyJWT==1.7.1
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
SQLAlchemy==1.3.10
tinycss2==1.0.2
twilio==6.32.0
urllib3==1.25.6
vcrpy==2.1.0
WeasyPrint==50
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
yarl==1.3.0